/*style sheet for reviews page*/

Body{
	background-image: url('https://images.unsplash.com/photo-1555118367-93f01e18660f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

h1{
	color:#ffa500;
	font-family:tahoma;
	font-size:80px;
	text-decoration:underline;
	Text-decoration-color:#ffa500;
	text-align:center;
}

h2{
	color:#FFD700;
	font-family:Courier New;
	line-height:0px;
	font-size:30px;
	text-align:center;
}
h3 {
	color:;
	font-family:;
	line-height: 0px;
	font-size:;
	padding-right:;
	padding-bottom:;
}

form{
	display:inline-block;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=reset]:hover {
  background-color: #45a049;
}

nav ul li {
	color: yellow;
	font-family: Ariel;
	font-size: 15px;
	display: inline-block;
	border: 2px solid #ff8c00;
	border-radius: 5px;
	padding: 5px;
	list-style-type: none;
	margin: 15px;
}

	nav ul li a {
		color: yellow;
	}

		nav ul li a:hover {
			color: red;
		}

		nav ul li a:visited {
		}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 0px;
}
